<div class="hero-unit">
  <h1>ET-Manager</h1>
  <p> Click <a ng-click="getData()">here</a> to load sessions</p>
			<table class="table table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Sprint</th>
						<th>Focusarea</th>
						<th>Feature</th>
						<th>Date</th>
						<th>URL</th>
					</tr>
				</thead>
				<tbody ng-repeat="session in sessions">
					<tr>
						<td>{{session.sprint}}</td>
						<td>{{session.focusarea}}</td>
						<td>{{session.feature}}</td>
						<td>{{session.date}}</td>
						<td>{{session.url}}</td>
					</tr>
				</tbody>
			</table>  
      	<!--<p ng-repeat="(key,value) in session">{{key}}, {{value}}</p>-->
</div>